body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.headers{
    display: flex;
    justify-content: space-around;
}

.headers div {
    width: 300px
}


.container {
    display:flex;
    justify-content: space-around;
    margin-bottom: 30px;
}


.container div {
    width:300px;
    border:solid;
    height:200px;
}

.options {
    display: flex;
    justify-content: space-around;
    gap: 5px
}

button {
    height:50px;
    width: 100px;
    border-radius: 10%;
}